.home-container {
  margin: 108px 25px 50px 30px;
  color: #293845;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.04em;
}

.home-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 41px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.poster-container {
  padding: 8px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 145px;
  height: 209px;
  margin-bottom: 11px;
}

.poster-container img {
  width: 129px;
  height: 193px;
}